<div class="container">
  <div class="banner">
    <h1>Liste de tous les groupes du tournois <%=@tournament.name%></h1>
  </div>

  <ul><%@groups.each do |group|  %>
    <li>
    <%=link_to group.number, tournament_group_teams_path(@tournament, group)   %>
    </li>
  <%end%>
  </ul>
</div>

