<div class="container">
  <div class="banner">
    <h1>Liste de tous les groupe du tournois <%=@tournament.name%></h1>
  </div>

  <ul><%@groups.each do |group|  %>
    <li>
    <%=link_to "Group #{group.name}", tournament_group_path(@tournament, group)   %>
    </li>
  <%end%>
  </ul>
</div>
