<div class="container">
  <div class="banner">
    <h1>Liste de toutes les équipes du groupe <%=@group.name%> du tournois <%=@tournament.name%></h1>
  </div>

  <ul>
    <li><%="Team 1: #{@team1.name}"%></li>
    <li><%="Team 2: #{@team2.name}"%></li>
  </ul>
</div>
