<div class="container">
  <div class="banner">
    <h1>Liste des matches du tournois <%= @tournament %></h1>
  </div>

  <ul><%@teams.each do |team|  %>
    <li>
    <%=team.name%>
    </li>
  <%end%>
  </ul>
</div>

