<div class="container">
  <div class="banner">
    <h1>Liste des tirages possibles pour la phase finale de la ligue des champions <%= @tournament.name %></h1>
  </div>
  
  <table>
    <thread>
      <tr>
        <th colspan="2">Equipes sélectionnées</th>
      </tr>
    </thread>
    <tbody>
      <tr>

      </tr>
    </tbody>
  
  
  </table>
  <ul><%@teams.each do |team|  %>
    <ul>
      <li style="display: inline">
      <%=team.name%>
      <%=team.country%>
      <%group = @groups.find_by(team1_id: team.id) || @groups.find_by(team2_id: team.id) %>
      <%=group.name%>
      </li>
    </ul>  
  <%end%>
  </ul>
</div>

